{{> header }}


    
    {{> navbar }}

    <div ass="col-8">
        <h1>Imagenes mundo</h1>
    </div>

    <div ass="col-4">
        <img src="dist/img/moto.png" class="img-thumbnail">
    </div>

    {{>footer}}

